.article-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-wrap: wrap;
    flex-direction: column;
}

.article-div p {
    width: 1000px;
}

.button {
    color: white;
}

.article-div img {
    box-shadow: 0px 5px 25px rgba(255, 255, 255, 0.6);
}