.title {
    width: 800px;
    padding-left: 30px;
    padding-bottom: 20px;
}

.projects-container{
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 50px;
    padding-left: 40px;
}
